<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DosCmdPath" value="\DOS_Files\"/>
    <add key="TimeoutStdSec" value="200"/>
    <add key="TimeoutLongSec" value="300"/>
    <add key="TimeoutExtralongSec" value="1200"/>
    <add key="ShowHelp" value="0"/>
  </appSettings>
</configuration>